layout {
    pane split_direction="vertical" { // first logical container
        // all these panes will be laid out vertically next to each other
        pane command="nvim" {
          args "."
        }
        pane split_direction="horizontal" { // second logical container
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
