[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/zthomas/start/vim-airline"]
	path = vim/pack/zthomas/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/zthomas/start/vim-easymotion"]
	path = vim/pack/zthomas/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/zthomas/start/vim-multiple-cursors"]
	path = vim/pack/zthomas/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/zthomas/start/vim-surround"]
	path = vim/pack/zthomas/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/zthomas/start/delimitMate"]
	path = vim/pack/zthomas/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/zthomas/start/gruvbox"]
	path = vim/pack/zthomas/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/zthomas/start/nnn.vim"]
	path = vim/pack/zthomas/start/nnn.vim
	url = https://github.com/mcchrish/nnn.vim.git
[submodule "vim/pack/zthomas/start/fzf.vim"]
	path = vim/pack/zthomas/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/zthomas/start/vim-commentary"]
	path = vim/pack/zthomas/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/zthomas/start/vim-polyglot"]
	path = vim/pack/zthomas/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/zthomas/start/vim-fugitive"]
	path = vim/pack/zthomas/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/zthomas/start/vim-gitgutter"]
	path = vim/pack/zthomas/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/zthomas/start/indentLine"]
	path = vim/pack/zthomas/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
