* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "Terminus", "Lilex Nerd Font";
  font-size: 11pt;
  padding-bottom: 0;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

window#waybar.solo {
  background-color: @bg;
  color: @lavender;
}

window#waybar.solo #workspaces button {
  border-radius: 5px;
}

#tray {
  margin: 5px 0 5px 5px;
  /* padding-left: 10px; */
  border-radius: 7px;
  border: 2px solid @border;
  background-color: @bg;
}

#network {
  margin: 5px 5px 5px 0;
  padding-left: 7px;
  padding-right: 12px;
  border-radius: 7px;
  border: 2px solid @border;
  background-color: @bg;
  color: @lavender;
}
/* #network.wifi, */
/* #network.ethernet { */
/*   color: @green; */
/* } */
#network.linked {
  color: @sky;
}
#network.disconnected,
#network.disabled {
  color: @red;
  border: 2px solid @border
}

#pulseaudio,
#keyboard-state,
#wireplumber,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
  margin: 5px;
  padding-left: 7px;
  padding-right: 12px;
  border-radius: 10px;
  border: 2px solid @border;
  color: @fg;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

#custom-cafeine {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

/* #pulseaudio.muted { */
/*   background-color: @red; */
/*   color: @dark-fg; */
/* } */

#clock {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;

  border-radius: 7px;
  border: 2px solid @border;
}

#workspaces {
  margin: 5px;
  /* padding-left: 10px; */
  /* padding-right: 5px; */
  border-radius: 7px;
  border: 2px solid @border;
  background-color: @bg;
}

#workspaces button {
  color: @peach;
}

#workspaces button.active {
  color: @fg;
}
